In [36]:
#read a CSV file
import pandas as pd
df = pd.read_csv('C:\\Users\\anees\\Downloads\\color.csv')
df

       Name     HEX               RGB
0     White  FFFFFF  rgb(100,100,100)
1    Silver  C0C0C0     rgb(75,75,75)
2      Gray  808080     rgb(50,50,50)
3     Black     NaN        rgb(0,0,0)
4       Red  FF0000      rgb(100,0,0)
5    Maroon  800000       rgb(50,0,0)
6    Yellow  FFFF00      rgb(100,0,0)
7     Olive  808000       rgb(0,50,0)
8      Lime  00FF00    rgb(0,100,100)
9     Green    8000       rgb(0,50,0)
10     Aqua  00FFFF    rgb(0,100,100)
11     Teal    8080      rgb(0,50,50)
12     Blue  0000FF      rgb(0,0,100)
13     Navy      80      rgb(0,50,50)
14  Fuchsia     NaN      rgb(100,0,0)
15   Purple     NaN      rgb(50,0,50)

In [40]:
#data manipulation operations
#grouping
group=df.groupby('RGB')
grp=group.count()
print(grp)

                  Name  HEX
RGB
rgb(0,0,0)           1    0
rgb(0,0,100)         1    1
rgb(0,100,100)       2    2
rgb(0,50,0)          2    2
rgb(0,50,50)         2    2
rgb(100,0,0)         3    2
rgb(100,100,100)     1    1
rgb(50,0,0)          1    1
rgb(50,0,50)         1    0
rgb(50,50,50)        1    1
rgb(75,75,75)        1    1

In [42]:
#data manipulation operations
#filtering
filter=df[df['RGB']=='rgb(0,50,50)']
print(filter)

    Name   HEX           RGB
11  Teal  8080  rgb(0,50,50)
13  Navy    80  rgb(0,50,50)

In [44]:
#data manipulation operations
#sorting
df=df.sort_values(by='HEX')
print(df)

       Name     HEX               RGB
12     Blue  0000FF      rgb(0,0,100)
8      Lime  00FF00    rgb(0,100,100)
10     Aqua  00FFFF    rgb(0,100,100)
13     Navy      80      rgb(0,50,50)
9     Green    8000       rgb(0,50,0)
5    Maroon  800000       rgb(50,0,0)
11     Teal    8080      rgb(0,50,50)
7     Olive  808000       rgb(0,50,0)
2      Gray  808080     rgb(50,50,50)
1    Silver  C0C0C0     rgb(75,75,75)
4       Red  FF0000      rgb(100,0,0)
6    Yellow  FFFF00      rgb(100,0,0)
0     White  FFFFFF  rgb(100,100,100)
3     Black     NaN        rgb(0,0,0)
14  Fuchsia     NaN      rgb(100,0,0)
15   Purple     NaN      rgb(50,0,50)

In [46]:
#manipulating frames
d=df.to_csv('color.csv',index=False)
print(d)

None

In [48]:
#removal of repeated or duplicate data
df.drop(axis=0,index=8)
drop=df.drop_duplicates(subset=['RGB'])
print(drop)

      Name     HEX               RGB
12    Blue  0000FF      rgb(0,0,100)
8     Lime  00FF00    rgb(0,100,100)
13    Navy      80      rgb(0,50,50)
9    Green    8000       rgb(0,50,0)
5   Maroon  800000       rgb(50,0,0)
2     Gray  808080     rgb(50,50,50)
1   Silver  C0C0C0     rgb(75,75,75)
4      Red  FF0000      rgb(100,0,0)
0    White  FFFFFF  rgb(100,100,100)
3    Black     NaN        rgb(0,0,0)
15  Purple     NaN      rgb(50,0,50)

In [76]:
#Remove NaN values
import numpy as np
df=pd.read_csv('C:\\Users\\anees\\Downloads\\color.csv')
d=df.dropna()
print(d)

      Name     HEX               RGB
0    White  FFFFFF  rgb(100,100,100)
1   Silver  C0C0C0     rgb(75,75,75)
2     Gray  808080     rgb(50,50,50)
4      Red  FF0000      rgb(100,0,0)
5   Maroon  800000       rgb(50,0,0)
6   Yellow  FFFF00      rgb(100,0,0)
7    Olive  808000       rgb(0,50,0)
8     Lime  00FF00    rgb(0,100,100)
9    Green    8000       rgb(0,50,0)
10    Aqua  00FFFF    rgb(0,100,100)
11    Teal    8080      rgb(0,50,50)
12    Blue  0000FF      rgb(0,0,100)
13    Navy      80      rgb(0,50,50)

In [86]:
#replacing of NaN values
df=pd.read_csv('C:\\Users\\anees\\Downloads\\color.csv')
d=df.replace(np.NaN,'FFFF')
print(d)

       Name     HEX               RGB
0     White  FFFFFF  rgb(100,100,100)
1    Silver  C0C0C0     rgb(75,75,75)
2      Gray  808080     rgb(50,50,50)
3     Black    FFFF        rgb(0,0,0)
4       Red  FF0000      rgb(100,0,0)
5    Maroon  800000       rgb(50,0,0)
6    Yellow  FFFF00      rgb(100,0,0)
7     Olive  808000       rgb(0,50,0)
8      Lime  00FF00    rgb(0,100,100)
9     Green    8000       rgb(0,50,0)
10     Aqua  00FFFF    rgb(0,100,100)
11     Teal    8080      rgb(0,50,50)
12     Blue  0000FF      rgb(0,0,100)
13     Navy      80      rgb(0,50,50)
14  Fuchsia    FFFF      rgb(100,0,0)
15   Purple    FFFF      rgb(50,0,50)